* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  cursor: default;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #263238;
}

#reactTxt {
  font-family: calibri;
  position: absolute;
  color: #9effff;
  font-weight: bold;
  font-size: 18px;
  z-index: -10;
  animation-name: textAnimate;
  animation-duration: 1.5s;
}

@keyframes textAnimate {
  0% {
    bottom: 375px;
    opacity: 0%;
  }

  50% {
    bottom: 400px;
    opacity: 100%;
    font-size: 24px;
  }

  100% {
    bottom: 425px;
    opacity: 0%;
  }
}

table {
  width: 50vw;
  height: 30vh;
}

td {
  margin: 2px;
  background-color: #4f5b62;
  transition-duration: 0.15s;
}

.puke {
  background-color: red;
}

.noVibe {
  background-color: salmon;
}

.yesVibe {
  background-color: rgb(57, 200, 116);
}

.fire {
  background-color: greenyellow;
}

.buttbar {
  height: 100px;
  width: 50vw;
  display: flex;
  margin-bottom: 20px;
}

button {
  display: flex;
  align-items: flex-end;
  flex: 1;
  height: 100px;
  margin: 5px 2px;
  /* background-color: #4f5b62; */
  border: solid 1px #4f5b62;
}

.overlay {
  pointer-events: none;
  background-color: #14cba8;
  height: 100px;
  width: 100%;
  transition-duration: 0.25s;
}

.overlay:active {
  background-color: salmon;
}
